*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #F8F9FB;
}

.con {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #ffffff;
    border-bottom: 1px solid #dee2e6;
    padding: 15px 30px;
}

.name h3 {
    margin: 0;
    font-weight: bold;
    color: #006eff;
}

.name a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.Sign .nav-link {
    color: #ff0000;
    font-weight: 500;
    transition: color 0.3s;
}

.Sign .nav-link:hover {
    color: #0d6efd;
}

.out {
    background-color: #F8F9FB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

.first {
    max-width: 1000px;
    text-align: center;
    padding: 50px;
}

.first h2 {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
    color: #333;
}

.first h4 {
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 30px;
}

.first a {
    display: inline-block;
    background-color: #dc4343;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.first a:hover {
    background-color: #ff0000cb;
}

.first .img {
    margin-top: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

