<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="style.css">

    <style>
        html,body{
            margin: 0;
            justify-content: center;
            align-items: center;
            display: flex;
            height: 100%;
            background-color: #F8F9FB;
        }
    </style>
</head>
<body>

    <div class="outer">
        <h2>Analyzer</h2>
        <h3>Sign in</h3>

        <div class="inner">
            <input id="email" class="email_signin" type="email" placeholder="enter email">
            <input id="password" class="pass_signin" type="password" placeholder="enter password">   
        </div>

        <button onclick="login()" class="signin_button">Sign in</button>

        <div class="acc_outter">

        <div class="signup-row">
            <h5>Don’t have an account?</h5>
            <a href="{{ url_for('signup') }}">Sign up now</a>
        </div>

        <a class="forgotpass" href="{{ url_for('email_search') }}">
            Forgot Password
        </a>

        </div>

        <hr>

        <button class="google_button" onclick="googleLogin()">
        <img width="48" height="48" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/>
        </button>

        <div class="text" id="text"></div>
    </div>

    <script>
function login() {
    let email = document.getElementById("email").value;
    let password = document.getElementById("password").value;
    let text = document.getElementById("text");

    if (!email || !password) {
        text.innerText = "All fields are required!";
        text.style.color = "red";
        return;
    }

    fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ email: email, password: password })
    })
    .then(r => r.json())
    .then(data => {
        if (data.success) {
            text.innerText = "Login successful";
            text.style.color = "blue";
            setTimeout(() => { window.location.href = "/home"; }, 1000);
        } else {
            text.innerText = data.message;
            text.style.color = "red";
        }
    });
}

function googleLogin(){
    window.location.href="/login/google";
}
</script>
</body>
</html>
